*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	text-align: center;
	background: black;
}
.header{
	padding-top: 30px;
	color: white;
	font-size: 20px;
	margin: auto;
	line-height: 50px;
}
.sb-container{
	max-width: 1200px;
	margin: auto;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team{
	margin: 10px;
	padding: 22px;
	max-width: 30%;
	cursor: pointer;
	transition: 0.4s;
	box-sizing: border-box;
	color: white;
}
.team:hover{
	background: #dcebf5;
	border-radius: 12px;
	color: black;
}
.team img{
     width: 200px;
     height: 200px;
}
.about{
	margin: 20px 0;
	font-weight: lighter;
	color: white;
}
.social-links{
	margin: 14px;
}
.social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	transition: 4s;
}
.social-links a:hover{
	transform: scale(1.5);
}
 
.social-links a i{
	color: royalblue;
}
 
@media screen and (max-width: 600px){
	.team{
		max-width: 100%;
	}
}